/Console_shaper/obj/x86/Debug/Console_shaper.csproj.FileListAbsolute.txt
/Console_shaper/obj/x86/Debug/Console_shaper.exe
/Console_shaper/obj/x86/Debug/Console_shaper.pdb
/Console_shaper/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Console_shaper/bin/Debug/Console_shaper.exe
/Console_shaper/bin/Debug/Console_shaper.exe.config
/Console_shaper/bin/Debug/Console_shaper.pdb
/Console_shaper/bin/Debug/Console_shaper.vshost.exe
/Console_shaper/bin/Debug/Console_shaper.vshost.exe.config
/Console_shaper/bin/Debug/Console_shaper.vshost.exe.manifest
/Console_shaper.suo
/Console_shaper/obj/x86/Debug/Console_shaper.csprojResolveAssemblyReference.cache
/Console_shaper.sln.docstates.suo
